#globalWrapper{
  padding-bottom: 0 !important;
}
body{
  font-size: 0 !important;
  margin: 0 ;
  padding: 0;
  font-family: Quenda;
  box-sizing: border-box;
}
p{
  font-family: Quenda!important;
  font-size: 1.7vw!important;
  padding: 0!important;
  margin: 0;
}
.wrapper{
  width: 100%;
  font-family: Quenda !important;
}
.title_1 p{
  font-family: Quenda !important;
  text-align: center !important;
  font-size: 4vw !important;
  margin-top: 2%;
}
.sec1{
  width: 100%;
  /* position: relative;
  text-align: justify; */
  margin-bottom: 5%;
}
/* .link{
  margin-left: 10%;
  margin-bottom: 5%;
} */
.icon{
  position:relative;
  width:30%;
  margin-left: 13.5%;
  margin-top: 2%;
  opacity: 0.7;
}
.pdf {
  position: absolute;
  text-decoration: none;
  z-index: 2;
  /* margin-left: 17%;
  margin-top: 9%; */
  color: black !important;
}
.pdf p{
  font-size: 3.1vw!important;
}
.pdf:hover{
  cursor: pointer;
  color: white!important;
  text-decoration: none!important;
  transition-duration: 0.3s;
}
#p1{
  margin-left: 16%;
  margin-top: 9%;
}
#p2{
  margin-left: 17%;
  margin-top: 9%;
}
#p2 p{
  font-size: 3.5vw!important;
}
#p3{
  margin-left: 17%;
  margin-top: 8%;
}
#p3 p{
  font-size: 3.5vw!important;
  line-height: 3.4vw;
}
#p4{
  margin-left: 17%;
  margin-top: 9%;
}
#p4 p{
  font-size: 3.5vw!important;
}
