#globalWrapper{
  padding-bottom: 0 !important;
}
body{
  font-size: 0 !important;
  margin: 0 ;
  padding: 0;
  font-family: Quenda;
  box-sizing: border-box;
}
p{
  font-family: Quenda!important;
  padding: 0!important;
  font-size: 1.7vw !important;
  margin: 0;
}
.wrapper{
  width: 100%;
  font-family: Quenda !important;
	overflow: hidden;
}
.sec1 p{
  font-size: 1.7vw;
  width: 70%;
  position: relative;
  margin-left: 15%;
  /* margin-top: 2%;
  margin-bottom: 2%; */
  text-align: justify;
}
.title_1 p{
  font-family: Quenda !important;
  text-align: center !important;
  font-size: 4vw !important;
	margin-top: 2%!important;
}
.title_2 p{
  font-family: Quenda !important;
  text-align: center !important;
  font-size: 3vw !important;
  margin-top: 2%;
  margin-bottom: 0.5%;
}
.title_3 p{
  font-family: Quenda !important;
  font-size: 2.2vw !important;
  margin-top: 1%;
}
.equations{
  width: 70%;
  margin-left: 15%;
  overflow: auto;
  margin: 2%;
}
.explanation {
  font-size: 1.5vw !important;
  font-weight: bold;
  color: #7e392e;
  text-align: center !important;
  margin-bottom: 10px;
  margin-top: 1%;
}
.icon{
  width: 1.5vw;
  vertical-align: middle;
  color: #7e392e;
}
@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 1500px;}
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 1500px;}
}
#card1{
	z-index: 2;
	position: relative;
	-webkit-animation: mymove 3s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 3s infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
#card2{
	z-index: 2;
	position: relative;
	-webkit-animation: mymove 3s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 3s infinite;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
#car1{
	width:10%;
}
#car2{
	width: 10%;
}
