#globalWrapper{
  padding-bottom: 0 !important;
}
body{
  font-size: 0 !important;
  margin: 0 ;
  padding: 0;
  font-family: Quenda;
  box-sizing: border-box;
}
p{
  font-family: Quenda!important;
  font-size: 1.7vw !important;
  padding: 0!important;
  margin: 0;
}
.photo{
  position:relative;
  width:90%;
  margin-left: 5%;
  margin-top: 8%;
}
.wrapper{
  width: 100%;
  font-family: Quenda !important;
}
.text{
  width: 70%;
  position: relative;
  margin-left: 15%;
  text-align: justify;
}
.text p{
  font-size: 1.7vw !important;
  margin-top:0;
}
.title_1 p{
  font-family: Quenda !important;
  text-align: center !important;
  font-size: 3vw !important;
  margin-top: 2%;
  margin-bottom: 1%;
}
.seemore{
  position: absolute;
  text-decoration: none;
  z-index: 2;
  margin-left: 70%;
  margin-top: 55%;
  color: #cc4932 !important;
}
.seemore p{
  font-size: 2.5vw!important;
}
.seemore:hover{
  cursor: pointer;
  color: #f48810!important;
}
