#globalWrapper{
  padding-bottom: 0 !important;
}
body{
  font-size: 0 !important;
  margin: 0 ;
  padding: 0;
  font-family: Quenda;
  box-sizing: border-box;
}
p{
  font-family: Quenda!important;
  padding: 0!important;
  font-size: 1.7vw !important;
  margin: 0;
}
.wrapper{
  width: 100%;
  font-family: Quenda !important;
}
.sec1 p{
  font-size: 1.7vw;
  width: 70%;
  position: relative;
  margin-left: 15%;
  /* margin-top: 2%;
  margin-bottom: 2%; */
  text-align: justify;
}
.title_1 p{
  font-family: Quenda !important;
  text-align: center !important;
  font-size: 4vw !important;
	margin-top: 2%!important;
}
.title_2 p{
  font-family: Quenda !important;
  text-align: center !important;
  font-size: 3vw !important;
  margin-top: 2%;
  margin-bottom: 0.5%;
}
.title_3 p{
  font-family: Quenda !important;
  font-size: 2.2vw !important;
  margin-top: 1%;
}
.explanation {
  font-size: 1.5vw !important;
  font-weight: bold;
  color: #7e392e;
  text-align: center !important;
  margin-bottom: 10px;
  margin-top: 1%;
}
.icon{
  width: 1.5vw;
  vertical-align: middle;
  color: #7e392e;
}
#f1{
	width:40%;
	margin:1%;
	margin-left: 30%;
}
#f2{
	width:40%;
	margin:1%;
	margin-left: 30%;
}
#f3{
	width:40%;
	margin:1%;
	margin-left: 30%;
}
#f4{
	width:40%;
	margin:1%;
	margin-left: 30%;
}
